{
  "port": 3000,
  "baseUrl": "http://localhost:3000",
  "sessionSecret": "change-moi-avec-une-longue-phrase",
  "discord": {
    "clientID": "TON_CLIENT_ID",
    "clientSecret": "TON_CLIENT_SECRET",
    "callbackURL": "http://localhost:3000/auth/discord/callback",
    "scope": [
      "identify"
    ]
  },
  "mysqlUrl": "mysql://USER:PASSWORD@HOST:3306/NOM_DB",
  "website": {
    "name": "Guildee",
    "logoUrl": "https://postimages.org/"
  }
}